.lehmeyun{
    width: 70%;
    height: 50%;
    margin:  20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.74);
    background-color: rgba(255, 246, 167, 0.945);
    transition: all 1s;
    

}
.lehmeyun:hover{
    background-color: rgb(255, 242, 129);
    box-shadow: 5px 5px 5px rgb(255, 120, 120);
}
.lehmeyun img{
    width: 65%;
    height: 50%;
    margin-top: 10px;
    align-self: center;
}
.lehmeyun h3{
    text-align: center;
}
.lehmeyun .botl{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;

}

.botl input{
    margin-top: 10px;
    text-transform: uppercase;
    outline: 0;
    background: rgba(255, 255, 255, 0.986);
    width: 50%;
    padding: 15px;
    border: 0;
    color: black;
    font-size: 12px;
    cursor: pointer;
    transition: all 1s;
}
@media(min-width: 1024px){
    .lehmeyun{
        width: 100%;
        height: 90%;
    }

    .lehmeyun img{
        height: 35%;
    }

    .botl input{
        width: 75%;
    

    }
    
}