#abrir-modal{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal .modalbody{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal a:hover{
    color: #c0392b;
}

.modal:target{
    opacity: 100%;
    top: 0;

}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal:target .content-modal{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal .content-modal{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal .content-modal{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84)!important;
    text-align: justify;
}
.content-modal{
    border-bottom: 10px;
}

#abrir-modal2{
    text-align: center;
    text-decoration:none ;
    transition: all 1s step-start;
}

.modal2{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal2 .content-modal2{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal2 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal2 .modalbody2{
    height: auto;
    background: whitesmoke;
}

.close-modal2{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal2 a:hover{
    color: #c0392b;
}

.modal2:target{
    opacity: 100%;
    top: 0;

}

.modal2 .btn-close-modal2{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal2:target .content-modal2{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal2 .content-modal2{
        width: 70vw;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal2 .content-modal2{
        width: 90vw;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody2{
    padding: 15px;
    color: black;
    text-align: justify;
    background: rgb(255, 238, 84) !important;
    border-bottom: 15px;
}
.content-modal2{
    border-bottom: 10px;
}
#abrir-modal3{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal3{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal3 .content-modal3{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal3 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal3 .modalbody3{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal3{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal3 a:hover{
    color: #c0392b;
}

.modal3:target{
    opacity: 100%;
    top: 0;

}

.modal3 .btn-close-modal3{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal3:target .content-modal3{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal3 .content-modal3{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal3 .content-modal3{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody3{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal3{
    border-bottom: 10px;
}
#abrir-modal4{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal4{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal4 .content-modal4{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal4 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal4 .modalbody4{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal4{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal4 a:hover{
    color: #c0392b;
}

.modal4:target{
    opacity: 100%;
    top: 0;

}

.modal4 .btn-close-modal4{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal4:target .content-modal4{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal4 .content-modal4{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal4 .content-modal4{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody4{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal4{
    border-bottom: 10px;
}
#abrir-modal5{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal5{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal5 .content-modal5{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal5 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal5 .modalbody5{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal5{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal5 a:hover{
    color: #c0392b;
}

.modal5:target{
    opacity: 100%;
    top: 0;

}

.modal5 .btn-close-modal5{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal5:target .content-modal5{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal5 .content-modal5{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal5 .content-modal5{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody5{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal5{
    border-bottom: 10px;
}
#abrir-modal6{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal6{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal6 .content-modal6{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal6 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal6 .modalbody6{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal6{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal6 a:hover{
    color: #c0392b;
}

.modal6:target{
    opacity: 100%;
    top: 0;

}

.modal6 .btn-close-modal6{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal6:target .content-modal6{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal6 .content-modal6{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal6 .content-modal6{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody6{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal6{
    border-bottom: 10px;
}
#abrir-modal7{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal7{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal7 .content-modal7{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal7 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal7 .modalbody7{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal7{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal7 a:hover{
    color: #c0392b;
}

.modal7:target{
    opacity: 100%;
    top: 0;

}

.modal7 .btn-close-modal7{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal7:target .content-modal7{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal7 .content-modal7{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal7 .content-modal7{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody7{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal7{
    border-bottom: 10px;
}
#abrir-modal8{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal8{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal8 .content-modal8{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal8 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal8 .modalbody8{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal8{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal8 a:hover{
    color: #c0392b;
}

.modal8:target{
    opacity: 100%;
    top: 0;

}

.modal8 .btn-close-modal8{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal8:target .content-modal8{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal8 .content-modal8{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal8 .content-modal8{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody8{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal8{
    border-bottom: 10px;
}
#abrir-modal9{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal9{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal9 .content-modal9{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal9 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal9 .modalbody9{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal9{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal9 a:hover{
    color: #c0392b;
}

.modal9:target{
    opacity: 100%;
    top: 0;

}

.modal9 .btn-close-modal9{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal9:target .content-modal9{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal9 .content-modal9{
        width: 70%;
        max-width: none;
        left: 15%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal9 .content-modal9{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody9{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal9{
    border-bottom: 10px;
}
#abrir-modal10{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal10{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal10 .content-modal10{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal10 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal10 .modalbody10{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal10{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal10 a:hover{
    color: #c0392b;
}

.modal10:target{
    opacity: 100%;
    top: 0;

}

.modal10 .btn-close-modal10{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal10:target .content-modal10{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal10 .content-modal10{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal10 .content-modal10{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody10{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal10{
    border-bottom: 10px;
}
#abrir-modal11{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal11{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal11 .content-modal11{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal11 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal11 .modalbody11{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal11{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal11 a:hover{
    color: #c0392b;
}

.modal11:target{
    opacity: 100%;
    top: 0;

}

.modal11 .btn-close-modal11{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal11:target .content-modal11{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal11 .content-modal11{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal11 .content-modal11{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody11{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal11{
    border-bottom: 10px;
}
#abrir-modal12{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal12{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal12 .content-modal12{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal12 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal12 .modalbody12{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal12{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal12 a:hover{
    color: #c0392b;
}

.modal12:target{
    opacity: 100%;
    top: 0;

}

.modal12 .btn-close-modal12{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal12:target .content-modal12{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal12 .content-modal12{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal12 .content-modal12{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody12{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal12{
    border-bottom: 10px;
}
#abrir-modal13{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal13{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal13 .content-modal13{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal13 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal13 .modalbody13{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal13{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal13 a:hover{
    color: #c0392b;
}

.modal13:target{
    opacity: 100%;
    top: 0;

}

.modal13 .btn-close-modal13{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal13:target .content-modal13{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal13 .content-modal13{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal13 .content-modal13{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody13{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal13{
    border-bottom: 10px;
}
#abrir-modal14{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal14{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal14 .content-modal14{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal14 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal14 .modalbody14{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal14{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal14 a:hover{
    color: #c0392b;
}

.modal14:target{
    opacity: 100%;
    top: 0;

}

.modal14 .btn-close-modal14{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal14:target .content-modal14{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal14 .content-modal14{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal14 .content-modal14{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody14{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84)!important;
    text-align: justify;
}
.content-modal14{
    border-bottom: 10px;
}
#abrir-modal15{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal15{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal15 .content-modal15{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal15 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal15 .modalbody15{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal15{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal15 a:hover{
    color: #c0392b;
}

.modal15:target{
    opacity: 100%;
    top: 0;

}

.modal15 .btn-close-modal15{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal15:target .content-modal15{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal15 .content-modal15{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal15 .content-modal15{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody15{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal15{
    border-bottom: 10px;
}
#abrir-modal16{
    text-align: center;
    text-decoration:none ;
    transition: all 1s linear;
}

.modal16{
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.623);
    opacity: 1;
    transition: opacity 0.60s ease;
}

.modal16 .content-modal16{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -200vh;
    transition: top 0.60s ease;
    margin-left: -250px;
    background: whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 999999999;
}

.modal16 {
    padding: 0.5cm;
    text-align: center;
    color: brown;
    margin:0 ;

}
.modal16 .modalbody16{
    height: auto;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.close-modal16{
    color: #e74c3c;
    position: absolute;
    top: 0.02cm;
    right: 0.375cm;
    margin: 0;
    padding: 5px;
}

.modal16 a:hover{
    color: #c0392b;
}

.modal16:target{
    opacity: 100%;
    top: 0;

}

.modal16 .btn-close-modal16{
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 999999999;
}

.modal16:target .content-modal16{
    top: 2.5%;
    transition: top 1s ease;
}

@media (max-width: 796px){
    .modal16 .content-modal16{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
@media (max-width: 460px){
    .modal16 .content-modal16{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}
.modalbody16{
    padding: 15px;
    color: black;
    background: rgb(255, 238, 84) !important;
    text-align: justify;
}
.content-modal16{
    border-bottom: 10px;
}